* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  aspect-ratio: auto;
}
body {
  scroll-behavior: smooth;
}

/*********Mobil*********/
h1 {
  font-family: "Yeseva One", serif;
  font-size: 50px;
}
h2 {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #43594b;
}
h3 {
  font-family: "Yeseva One", serif;
  font-size: 18px;
  font-weight: light;
}
p {
  font-family: "Mulish", sans-serif;
  line-height: 30px;
  font-size: 14px;
}
a {
  font-family: "Montaga", serif;
  font-size: 18px;
}

/*********Web*********/
@media screen and (min-width: 1200px) {
  h1 {
    font-family: "Yeseva One", serif;
    font-size: 70px;
  }
  h2 {
    font-family: "Mulish", sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: green;
  }
  h3 {
    font-family: "Yeseva One", serif;
    font-size: 40px;
  }
  p {
    font-family: "Mulish", sans-serif;
    line-height: 30px;
    font-size: 20px;
  }
  a {
    font-family: "Montaga", serif;
    font-size: 20px;
  }
}
