---
import '../styles/global.css';
import MainLayout from "../layouts/MainLayout.astro";
---
 <header>
  
    </header>
<MainLayout>
    <section class="grid_book_bord">
        <section class="margin">
            <section>
                <a href="/">  <img src="/img/pil_bb.svg" alt="pil" class="pil"></a>
              <h1 class="bestil_bord">Bestil Bord</h1>
               <p class="valg_gaster">Vælg antal gæster</p>
                <div class="guest-counter">
                    <button id="decrement">-</button>
                    <span id="guestCount">1</span>
                     <button id="increment">+</button>
                </div>
                
                <div class="center"> 
                     <img src="/img/line.svg" alt="hej" class="line">
                    <button id="naste_knap">Næste</button>
                    <img src="/img/line.svg" alt="hej" class="line">
                </div>
             </section>

        <section class="margin">
                        <p class="fed">Velkommen til online booking for Restaurant 1971 </p>
            <p>Reservationen er gennemført, når du har modtaget en bekræftelse pr. mail fra os.</p>
            <p>
            Reserveres der bord med ankomst  før kl. 20.00, gør vi opmærksomme på, at bordet er jeres i 2 timer og 30 minutter som udgangspunkt.</p>
            <p>
            Ved valg af "Quick bord" har i bordet i 1 time og 30 minutter, med mindre vi ikke skal bruge bordet igen.</p>
            <p>
            For reservationer af selskaber på over 8 personer, skal der rettes henvendelse på <a href = "mailto: abc@example.com">info@restaurant1971.dk</a></p>
            <p>
            Vi glæder os til at byde jer indenfor til en god aften!</p>
         </section>
</section>

<section class="fit">
    <img src="/img/bestilbord.webp" alt="bestilbord_billede" class="bestil_bord_2"></section>
</section>
      </MainLayout>

<style>
/*Mobile*/

    .pil{
        width: 20%;
        margin: 10px;
    }
	.bestil_bord {
        text-align: center;
        font-size: 50px;
        color: #43594B;
    } 
    p {
        font-family: "Mulish", sans-serif;
  		line-height: 30px;
  		font-size: 15px;	
		font-weight: lighter;
        margin: 0px 0px 20px 0px;
    }
        a {
        font-family: "Mulish", sans-serif;
  		font-size: 15px;	
		font-weight: lighter;
        margin: 0px 0px 20px 0px;
        color: black;
        text-decoration: none;

    }
    .fed {
        font-weight: bold;
        margin-bottom: 0;
    }
    .margin {
		margin: 25px;
		margin-top: 50px;
	}
    .section1 {
        text-align: center;
    }
    .valg_gaster {
        font-size: 20px;
        color: #43594B;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    .guest-counter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        margin: 0 auto;
        background-color: lightgray;
        border-radius: 30px;
    }

    .guest-counter button {
        background-color: #43594B;
        color: #fff;
        border: none;
        border-radius: 30px;
        padding: 15px 20px;
        cursor: pointer;
    }

    #guestCount {
        font-size: 18px;
        font-family: "Mulish", sans-serif;
    }
    #naste_knap {
        background-color: lightgray;
        border: none;
        border-radius: 30px;
        padding: 10px 40px;
        cursor: pointer;
    }
    .center {  
        display: flex;
        grid-template-columns: auto auto auto ;
        text-align: center;
        gap:20px;
        margin-top: 20px;

    }
     .line{
        width: 100px;
        margin-top: 20px;
    }
   

@media screen and (min-width: 1200px) {
/*Web*/
 
    .pil{
        width: 5%;
      
    }
    .grid_book_bord {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .margin {
		margin: 40px;
		margin-top: 80px;
	}
    p {
  		line-height: 30px;
  		font-size: 15px;	
		font-weight: lighter;
        margin: 0px 0px 20px 0px;
    }

    img {
        z-index: 99;
        position: absolute;
        width: auto;
        height: 100%;
       object-fit: cover;
    }
    .fit {
        position: relative; /* Ensure relative positioning for the container */
    }
     
    img.bestil_bord_2 {
         z-index: 99;
        position: absolute;
        width: 100%; /* Set the width to 50% */
        height: 100%;
        object-fit: cover;
        position: relative; /* Reset position for the image */
        left: 0;
        top: 0;
    }
      .center {  
        display: flex;
        grid-template-columns: auto auto auto ;
        text-align: center;
        gap:20px;
        margin-top: 20px;
        justify-content: center;

    }

}
   
</style>
<script>
  const decrementButton = document.getElementById('decrement');
  const incrementButton = document.getElementById('increment');
  const guestCountElement = document.getElementById('guestCount');

  let guestCount = 1;

  decrementButton.addEventListener('click', () => {
    if (guestCount > 1) {
      guestCount--;
      updateGuestCount();
    }
  });

  incrementButton.addEventListener('click', () => {
    guestCount++;
    updateGuestCount();
  });

  function updateGuestCount() {
    guestCountElement.textContent = guestCount;
  }
</script>