---
import '../styles/global.css';
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Banner  from '../components/Banner.astro';
---
 <header>
        <Header/>
    </header>
<MainLayout>
    
<section class="section_1">
       <Banner header="Om os" >
	<img src="/img/facade_omos_4.webp" alt="bannerbillede" class="banner">
</Banner>
</section>

</section>
<section class="section_2">
<div class="brødtekst">
<p>Restaurant 1971 er en del af Frederik VI på Frederiksberg Alle 42A, og betragtes som en søsterfilial til vores yderst velbesøgte “Frederik VI Ølbar & Spisested”.
Det er vores ambition at drive 1971 som et kvalificeret alternativ, med mere fokus på 
madoplevelsen. Hertil fokus på vine. Der er nu også en bar på Restauranten, hvor vi serverer øl fra de lokale bryggerier:
Carlsberg og Frederiksberg Bryghus. Hertil pænt udvalg af vin på glas + snacks.</p>
<p class="navne">Ann-Christin Rudy og Jimmy Streit</p>

<img src="/img/omos_bar.webp" alt="omosbillede" class="omos_billede">
</div>
<div>
    <div class="åbningstider">
        <div>
            <ul>
                <li class="fedtekst">Åbningstider:</li>
                <li>Alle dage kl 11.00 </li>
                <li>Frokost: 11.30 - 16.00 </li>
                <li> Aften: 17.30 - 21.00 </li>
                <li> 17.30 - 21.30 (Fre og Lør)</li>
            </ul>
            <ul>
                <li>Baren er åben 11:00 til 24:00 (senest)</li>
                <li>Baren lukker senest kl 24:00</li>
            </ul>
            <ul>
                <li class="fedtekst">Adresse:</li>
                <li>H.C. Ørsteds Vej 28A</li>
                <li>1879 Frederiksberg C </li>
            </ul>
            <ul>
                <li class="fedtekst">Kontakt:</li>
                <li>+45 53 53 19 71</li>
                <li>booking@1971frokost.dk</li>
            </ul>
        </div>
        <div>
            <p class="fedtekst">Følg os på Instagram, Facebook & LinkedIn</p>
            <div class="grid_SoMe">
                <a href="https://www.instagram.com/restaurant_1971/"><img src="/img/omos_instagram.svg" alt="instagram" class="SoMe_image"></a>
                <a href="https://www.facebook.com/frokostrestauranten1971/"><img src="/img/omos_facebook.svg" alt="facebook" class="SoMe_image"></a>
                <a href="https://www.linkedin.com/feed/"><img src="/img/omos_linkedin.svg" alt="linkedin" class="SoMe_image"></a>
            </div>
        </div>

            
        </div>
 
    </div>
</div>
</section>

</MainLayout>

<style>
/*Mobile*/
/*Section 1*/
    .menu_billede {
        position: relative; 
    }
    .forside_h1 {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 1;
        color: white; 
     }
     .banner{
        filter: brightness(50%);
        z-index: -99;
    } 

/* Section 2 */
     .section_2{
		margin: 50px;
	
	}
    p{
        margin-bottom: 30px;
        font-family: "Mulish", sans-serif;
        line-height: 30px;
        font-size: 15px;
    }
    .navne{
        font-style: italic;
    }
    .omos_billede{
        height: auto;
        aspect-ratio: 16/9;
    }
    ul {
        list-style-type: none;
        margin-bottom: 20px;
        font-family: "Mulish", sans-serif;
        line-height: 30px;
        font-size: 15px;
    }
    .fedtekst{
        color: black;
        font-weight: bolder;
    }
    .SoMe_image {
        width: 10%;
        height: auto;
        display: row;
    }

  @media screen and (min-width: 1200px){
/*Web*/
    .section_2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        margin: 50px auto; 
        max-width: 1100px; 
        padding: 0 20px; 
        justify-items: center;
    }
   
 .SoMe_image {
        width: 15%;
        height: auto;
        display:row;
        gap: 50px;
    }
  }

 
</style>