---
import '../styles/global.css';
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Banner from '../components/Banner.astro';
import Formular from '../components/Formular.astro';
import Knap from "../components/Knap.astro"

---
    <header>
        <Header/>
    </header>
<MainLayout>
    <section>
        <Banner header="Selskaber" >
              <img src="/img/ny_logo_øl.webp" alt="bannerbillede" class="banner1">
            <img src="/img/selskaberbanner.webp" alt="bannerbillede" class="banner">
        </Banner> 
    </section>

    <section class="selskaber">
        <div>
            <h2>Selskaber hos Restaurant 1971</h2>
         
            <p>Afhold din julefrokost, fødselsdag, bryllup eller anden særlig mærkedag i hyggelige omgivelser centralt på Frederiksberg. Vi modtager dags- og aftenarrangementer på op til 50 personer.
            Vi tilbyder forskellige selskabsmenuer, men tager en personlig snak om jeres ønsker. 
            Kontakt os på <a href="Tel:53 53 19 71">Tlf: 53 53 19 71</a> eller udfyld formularen til højre, og vi vender tilbage hurtigst muligt.
            </p>
        </div>

        <div>
            <Formular/> 
            <div class="knap">
                <Knap variant="primary" link="/">Send</Knap>
            </div>
        </div>
    </section>

    <section>
        <img src="/img/selskaber_2.webp" alt="selskaber" class="selskaber_billede">
    </section>
</MainLayout>

<style>
/*Mobile*/
a {
    font-family: "Mulish", sans-serif;
       line-height: 30px;
       font-size: 15px;
       color: black;
}
  .banner{
       z-index: -99;
       visibility: hidden;
    } 
    .banner1 {
         z-index: -99;
        margin-top: 50px;
         filter: brightness(50%);
    }
    p {
       font-family: "Mulish", sans-serif;
       line-height: 30px;
       font-size: 15px;
       margin: 15px 30px 0px 30px;

    }
    h2 {
        font-family: "Mulish", serif;
        font-size: 17px;
        margin-bottom: 5px;
        font-weight: lighter;
        color: #43594B;
        margin: 40px 20px 0px 30px;

    }   

 
    .knap {
        margin-left: 42.5%;
        margin-bottom: 20%;
    }
    .banner{
        filter: brightness(50%);
        z-index: -99;
    }
   

@media screen and (min-width: 1200px) {
/*Web*/
        .banner1 {
            display: none;
        }
        .banner {
            visibility: visible;
        }
    .selskaber {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        margin: 20px auto; 
        max-width: 1200px; 
        padding: 0 20px; 
    
    }
h2{
    font-size: 23px;
}
    h3 {
        font-family: "Yeseva One", serif;
        font-size: 18px;
    }   
    .knap{
        margin-left: 45%;
    }
    .selskaber_billede{
        margin-bottom: -10px;
    }
}
</style>