  <footer>
    <section>
        <div class="kontakt">
            <h2>Kontakt os</h2>
            <div class="grid_footer">
                <p>Tel: 53 53 19 71</p>
                <p>booking@1971frokost.dk</p>
                <a href="/bestilbord.html">Bestil bord her</a>
            </div>
            <a href="https://maps.app.goo.gl/MeXXWwupvQMTeAKB8">H.C. Ørsteds Vej 28A, 1879 Frederiksberg C</a>
        </div>
    </section>
    <section>
        <div class="grid_footer2">
            <div class="åbningstider">
                <h3>Åbningstider</h3>
                <p>Alle dage: kl 11.00 
                    <br>Frokost: 11.30 - 16.00 <br>
                    Aften: 17.30 - 21.00</p>
            </div>
            <div> 
                <h3>Følg os på de sociale medier</h3>
                <a href="https://www.instagram.com/restaurant_1971/"><img src="/img/instagram.svg" alt="instagram" class="icon"></a>
                <a href="https://www.facebook.com/frokostrestauranten1971/photos"><img src="/img/facebook.svg" alt="facebook" class="icon"></a>
                <a href="https://www.linkedin.com/feed/"><img src="/img/linkedin.svg" alt="linkedin" class="icon"></a>
            </div>
            <div>
                <img src="/img/logo_stor_hvid.svg" alt="logo">
            </div>
        </div>
    </section>
  </footer>


</html>

<style>
    /*Mobile*/
    footer{
        background-color: #43594B;
        color: white;
        justify-content:center;
        text-align: center;
        padding-top:20px

    }
    h2{
        font-family: "Mulish", sans-serif, lighter;
        font-size:20px;
    }
    h3{
        font-family: "Mulish", sans-serif, bolder;
        font-size:15px;
        font-weight: bolder;
    }
    p{
        font-size:12px;
        font-family: "Mulish", sans-serif, lighter;
        margin: 15px;

    }
    a{
        font-size:12px;
        font-family: "Mulish", sans-serif, lighter;
        color: white;
    }
    section{
        margin: 20px;
        
    }
    .icon{
        width: 40px;
        margin: 10px; 
    }
    img{
        width: 250px;
        margin-bottom:90px;
    }
    div{
        margin-top:50px;
        margin-bottom:50px;
    }
    /*Web*/
@media (min-width: 800px)	{
    .grid_footer{
        display: grid;
        grid-template-columns: 150px 150px 150px;
        align-items: center;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
    }
    h2{
        font-size:25px;
    }
    h3{
        font-size:14px;
        font-weight: bolder;
        margin-bottom:10px;
        margin-left: 15px;
    }
    p{
        font-size:12px;
    }
    a{
        font-size:12px   
    }   
    div{
        margin-top:0px;
        margin-bottom:0px;
    }
    .grid_footer2{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 70px;
        align-items: baseline;
    }
    img{
        margin-bottom:-30px;
    }       
   
    .åbningstider{
        justify-self: start; 
        text-align: left;
    }
     }


