  <footer>

    <section>
        <div class="kontakt">
            <h2>Kontakt os</h2>
            <p>Tel: 53 53 19 71</p>
            <p>booking@1971frokost.dk</p>
            <a href="/bestilbord.html">Bestil bord her</a>
            <br>
            <br>
            <a href="https://maps.app.goo.gl/MeXXWwupvQMTeAKB8">H.C. Ørsteds Vej 28A, 1879 Frederiksberg C</a>
        </div>
    </section>
    <section>
        <div>
            <h3>Åbningstider</h3>
            <p>Alle dage: kl 11.00 
                <br>Frokost: 11.30 - 16.00 <br>
                Aften: 17.30 - 21.00</p>
        </div>
        <div> 
            <h3>Følg os på de sociale medier</h3>
            <img src="" alt="instagram">
            <img src="" alt="facebook">
            <img src="" alt="linkedin">
        </div>
        <div>
            <img src="/img/logo_stort_hvid.svg" alt="">
        </div>
    </section>
  </footer>


</html>

<style>
 footer{
    background-color: #43594B;
    color: white;
    justify-content:center;
    text-align: center;
    padding-top:20px

 }
 h2{
  font-family: "Mulish", sans-serif, lighter;
  font-size:20px;
 }
 h3{
    font-family: "Mulish", sans-serif, bolder;
  font-size:15px;
  font-weight: bolder;
 }
 p{
    font-size:12px;
    font-family: "Mulish", sans-serif, lighter;
    margin: 15px;

 }
 a{
    font-size:12px;
    font-family: "Mulish", sans-serif, lighter;
    color: white;
 }
section{
    margin: 20px;
    
}