---

---
<section class="formular">
  <form>
<label for="name"></label>
    <input type="text" id="name" name="name" required placeholder="Navn" /><br /><br />


     <label for="email"></label>
    <input type="email" id="email" name="email" required placeholder="Email" /><br /><br />

    
    <label for="besked"></label>
    <input type="text" id="besked" name="besked" required placeholder="Besked" /><br /><br />

    <input type="submit" value="Send" class="submit"/>
  </form>

</section>

<style>

    .formular {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20%;
    }
    input {
    background-color: #BBBBBB;
    width: 70%;
    padding: 15px 30px;
    border: #BBBBBB;
  }
  .submit {
    background-color: black;
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    padding: 10px 10px;
    width: 30%;
  }

  @media screen and (min-width: 1200px) {
  .formular {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  }
  
  }
</style>