---
const { variant, link } = Astro.props;
---

<a class={variant} href={link}><slot /></a>

<style>
  .primary {
    background-color: black;
    color: white;
    font-size: 1.6rem;
    padding: 20px 20px;
    width: 150px;
    text-align: center;
  
  }
  .primary:hover{
    background-color: #43594B;
    color: white;
  }
  a {
    text-decoration: none;
  }

  .secondary {
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
   font-size: 1.6rem;
    padding: 20px 20px;
    width: 130px;
    border: solid 0.5px #FFFFFF;
      text-align: center;
   
   
  }


</style>

      <!-- @media screen and (min-width: 1200px) -->