---
---
<article>

<section class="grid_1">
            <h2>Aften</h2>
            <p class="abningstider">Søndag til Torsdag: 17.30-21.00 <br>
            Fredag & Lørdag: 17.30-21.30  </p>
</section>

<section class="grid_1-1-1">
        <h3>Forret</h3>
        <div class="grid_2">
            <p class="ret">Fransk Løgsuppe</p>
            <p class="pris">80<span>,-</span></p>
        </div>
        <p class="lille_tekst">Med løg og ostebrød</p>
</section>

</article>